<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Food Items

    <a data-toggle="collapse" href="#user_food_items_new_form">
      Add meal
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.food_items.each do |meal| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to meal, meal %>
        <!-- Show link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_food_items_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "users/user_food_items_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
