<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Stores
  </div>

  <ul class="list-group list-group-flush">
    <% @meal.stores.each do |grocery_store| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/grocery_stores/<%= grocery_store.id %>">
          <%= grocery_store %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
