<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @grocery_store, partial: "card", as: :grocery_store %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "grocery_stores/grocery_store_ingredients" %>
  </div>
</div>
  <!-- Show Page Customization end -->
